<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About - UNITE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100% !important;">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2Funite%20(1).png?v=1587898738134"
                height="50">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <a href="/">
                <button class="btn btn-outline-primary">Login</button>
            </a>
        </div>
    </nav>

    <div class="container text-center">
        <div class="text-center mx-auto">
            <img src="https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2Funite%20(1).png?v=1587898738134"
                height="100">
        </div>

        <span class="font-16pt color-primary">
            <b>U</b>nderserved <b>N</b>eeds <b>I</b>n <b>T</b>imes of <b>E</b>mergency
        </span><br>
        <span class="font-16pt color-secondary">
            Public Procurement Platform
        </span>
<!--
        <p class="mt-5 color-primary font-16pt">Creating a world where governments and companies
            innovate together to overcome crisis</p>
        <b class="mt-5 color-primary font-16pt">
            SAVING JOBS, SAVING LIVES
        </b>-->
    </div>

    <div class="customer-form footer-buttons lg">
        <p class="text-white text-center">UNITE is a Public Procurement Platform exclusively for governmental
            procurement of special orders of products
            and services for crisis response.
            <br>"The Alibaba of urgent public procurement requests."<br><br>

            UNITE is a two-sided platform, connecting public buyers with companies that have the capability and capacity
            to refocus their activities
            to supplying goods and services in response to the COVID-19 crisis.<br><br>

            Companies are invited to register on the platform, describing their capability and capacity to manufacture
            urgently needed products or to supply in-demand services.
            <br>Companies may also browse and respond to open tneder requests that have been placed by public buyers.
            <br><br>
            Public buyers may access the platform and create a procurement request. Our software matches the procurement
            request with potential suppliers and facilitates the complete transaction - including initial contact,
            negotiation. order placement, delivery acceptance and payment.
        </p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>