<!DOCTYPE html>
<html lang="en">
<!-- We will also implement payment (via an Escrow system) in the platform, as well as agreement policies, should the UNITE project go further.-->
<head>
  <meta charset="utf-8">
  <title>UNITE - Underserved Needs in Times of Emergency</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="/https.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100% !important;">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2Funite%20(1).png?v=1587898738134"
        height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="termsConditions">Terms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="antibriberyAgreement">Anti-Bribery</a>
        </li>
        <li class="nav-item" style="margin-left: 0px;">
          <a class="btn btn-danger" href="?exit=true&home=true" title="Clear user session">Clear Session</a>
        </li>
      </ul>
      <br>
      <button class="btn btn-primary" data-toggle="modal" data-target="#signUpModal">Sign up</button>
    </div>
  </nav>

  <div class="container text-center">
    <div class="text-center mx-auto" style="margin-bottom: -40px">
      <img src="https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2Funite%20(1).png?v=1587898738134"
        height="200">
    </div>

    <span class="font-16pt color-primary">
      <b>U</b>nderserved <b>N</b>eeds <b>I</b>n <b>T</b>imes of <b>E</b>mergency
    </span><br>
    <span class="font-16pt color-secondary">
      Public Procurement Platform
    </span>

    <p class="mt-5 color-primary font-16pt">Creating a world where governments and companies
      innovate together to overcome crisis</p>
    <b class="mt-5 color-primary font-16pt">
      SAVING JOBS, SAVING LIVES
    </b>
    <p class="mt-5">
      <button style="margin-top: 18px" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signUpModal">Sign Up</button>
    </p>
  </div>
  
  <div style="margin-top: 40px" title="Welcome to UNITE!"
    class="customer-form footer-buttons lg">
    <div class="row">
      <div class="col-sm text-center">
        <a href="/supplier/sign-in">
          <button class="custom-button">Sign in as Supplier</button></a>
        </a>
      </div>
      <div class="col-sm text-center">
        <a href="/buyer/sign-in">
          <button class="custom-button">Sign in as Buyer</button></a></li>
        </a>
      </div>  
      <div class="col-sm text-center">
        <a href="/supervisor/sign-in">
          <button class="custom-button">Sign in as Supervisor</button></a></li>
        </a>
      </div>  
    </div>
  </div>

  <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">         
       <div> 
          <a href="supplier/sign-up">
            <button class="btn btn-primary btn-block">Sign up as Supplier</button>
          </a> 
      </div>
      <br>
      <div>
          <a href="buyer/sign-up">
            <button class="btn btn-primary btn-block">Sign up as Buyer</button>
          </a>
      </div>
      <br>
      <div>
      <a href="supervisor/sign-up">
          <button class="btn btn-primary btn-block">Sign up as Supervisor</button>
        </a>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>          
      </div>
    </div>
  </div>
</div>
</body>

</html>