<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UNITE - Underserved Needs in Times of Emergency - Terms and Conditions</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="/https.js"></script>
</head>

<body>  
  <div>  
    <input type="button" class="btn btn-primary" value="Back" onclick="history.go(-1)">
  </div>
   <div class="modal-body">
     <h2>
       INTRODUCTION TO UNITE
     </h2>
          <p class='term'>Underserved Needs in Times of Emergency (further noted as UNITE) is an online platform that is designed for public procurement of goods (the "Goods"), and it is meant to leverage the communication between governmental agencies ("Buyers") and industry entities ("Suppliers").</p>          
     <p class='term'>
       Our platform is intended for connecting government-based agencies to companies that are involved in manufacturing goods of public interest. Thus, no individuals are allowed to register with UNITE. This platform is intended only for juridic entities.<br>We are going through strenuous times of crisis and we strive for interconnecting small, medium, and large commercial entities in order to ensure a powerful, efficient, resolute response to major needs of society.
     </p>
     <p class='term'>
       UNITE is designed to accept three types of users. Besides the Buyers and the Suppliers aforementioned, we also permit registration of governmental custom entities ("Supervisors"). Supervisors are asked to use a unique, specific ID called UNITE ID when signing up, and then one or more governmental regular agencies that are subordinated to a given supervisor can also register with us by providing the same UNITE ID.<br>Please be aware of the fact that no regular Buyer can come up with their own UNITE ID, instead they have to obtain it from the corresponding Supervisor. We are not liable for data losses or any other kind of lacks of communication between government entities, that may lead to, but not limited to, inability of a Buyer to use a UNITE ID.
     </p><br>
     <h2>
       HOW OUR WEBSITE WORKS
     </h2>
     <p class='term'>
       Suppliers are asked to provide accurate sign-up data as well as to accept our agreements, then they must place their capabilities and products/services on the platform, along with company registration, location, employment rate, and experience data. Each line of products/services offered must include corresponding prices and currencies.<br>We may limit the number or products and/or services offered by one supplier to a maximum limit ("Parameter") that is at our solely discretion (as of May 31th, 2020, it is limited to 5 elements). Also, at this moment a Supplier can place only 1 (one) Capability Description on the UNITE Platform. These parameters are subject to changes according to the good will of our Team Lead.
     </p>
     <p class='term'>
       Buyers are also advised to provide clear and correct sign-up data, then they can search for suppliers by desired capabilities. A list of suppliers is retrieved each time valid capability data is entered for searching, then the buyer can choose the supplier they find appropriate for their needs.
     </p>
     <p class='term'>
       After choosing a supplier for their needs, the Buyer can place an order on the UNITE platform ("the Bid Request"). The request can pass through several statuses between initial order data and final successful delivery ("the Order/Bid Statuses"). We aim at providing also a payment processor module in the coming future, by using a secure Escrow system, so that buyers and suppliers can safely set up terms of delivery of goods while being ensured a safe environment for their funds.<br>When the payment processor is ready, our Terms will be updated as they should.
     </p>
     <p class='term'>
       We are building a lightweight web application that bases its features on modern programming technologies and technical environment. UNITE is being carefully developed in an online working platform, that is called Glitch, which facilitates instant deployment and one single project location for the entire team, which significantly reduces the storage costs with respect to traditional webapp projects.<br>We also use a non-relational database for storing the actual user data, and the nature of the project source code allows a small number of full stack developers to work on UNITE, which is also a significant drop of human resource costs in comparison to mainstream teams that work with web applications. Still, we can assure you about the seriousness of our software developers, and we guarantee you that for any functional bug that may occur in our platform, there is at least one developer that would immediately be on it.
     </p>
     <p class='term'>
       The above terms are temporary and they strictly depend on the development period. Our application is under development and it is hosted by the www.glitch.com online deployment platform. We cannot guarantee you continuous access to the functionalities currently implemented on our UNITE application, since this depends on how well Glitch works and there may be issues with the API of the aforementioned hosting site. Thus, we cannot guarantee you a 24/7 100% functionality degree of our UNITE service.
     </p><br>
     <h2>
       REGISTRATION RULES
     </h2>
     <p class='term'>
       Every user that signs up for UNITE, regardless of their type (Buyer, Supervisor, Supplier), is required to provide an accurate set of data about themselves, by filling required input fields, among which they must provide a valid e-mail address and a password. New users must confirm their accounts within 24 hours, by clicking on confirmation links based on tokens  that are sent to their e-mail addresses. If they fail to do so, then they cannot sign in.<br>Also, in case a user forgets their password, UNITE provides them with the Forgot/Reset option, which (similarly to the Account Confirmation module) gives them 24 hours to reset their password via a token-based link. We may also set rules for the characters a password must contain or not, and as a general rule, we do not allow easy passwords like "password" or "1234".
     </p>
  </div>
</body>

</html>