<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UNITE - Underserved Needs in Times of Emergency - Terms and Conditions</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="/https.js"></script>
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100% !important;">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2Funite%20(1).png?v=1587898738134"
        height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="termsConditions" title="Terms and Conditions">Terms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="antibriberyAgreement" title="Anti-Bribery Agreement">Anti-Bribery</a>
        </li>
      </ul>      
    </div>
  </nav>
  <div>  
    <input type="button" class="btn btn-primary" value="Back" onclick="history.go(-1)">
  </div>
   <div class="modal-body">
     <h2>
       INTRODUCTION TO UNITE
     </h2>
          <p class='term'>Underserved Needs in Times of Emergency (further noted as UNITE, or "the Service") is an online platform that is designed for public procurement of goods (the "Goods"), and it is meant to leverage the communication between governmental agencies ("Buyers") and industry entities ("Suppliers").</p>          
     <p class='term'>
       Our platform is designed to connect government-based agencies to companies whose activity domains are related to producing or manufacturing goods of public interest in times of crisis. UNITE is not intended for private purposes, meaning that individuals are not able to register with UNITE, because we serve the public interests or "the Public Good".
       <br>Our users should be legal, juridic entities, meaning that we aim at a Business-to-Business usage. As a person that wants to join our platform, you have to be a representative of such organization, working on behalf of it.<br>We are going through strenuous times of crisis and we strive for interconnecting small, medium, and large commercial entities in order to ensure a powerful, efficient, resolute response to major needs of society.
     </p>
     <p class='term'>
       UNITE is designed to accept three types of users. Besides the aforementioned Buyers and Suppliers, we also permit registration of governmental custom entities ("Supervisors"). The activity of Supervisors consists of ensuring that government-related Buyers are fair and do not engage into suspicious, fraudulent, or bribery activities.<br>Supervisors are asked to use a unique, specific ID, that is called "Organization UNITE ID", when signing up, and then one or more governmental regular agencies that are subordinated to a given supervisor can also register with us by providing the same UNITE ID.
       <br>Please be aware of the fact that no regular Buyer can come up with their own UNITE ID, instead they have to obtain it from the corresponding Supervisor. As a Buyer, you will not be able to select any other UNITE ID and thus to register with us, because the UNITE ID is your link to the Supervisor and it is required in order to use our Service.<br>On the other hand, when a Supervisor chooses to change their unique UNITE ID, they should provide the new ID to their subordinates as soon as possible, for ensuring continued access to our Service.
       <br><br>Another important feature that a Supervisor has is that they are able to remove Buyers from the UNITE Procurement Platform if required. Such situations include, but are not limited to, dishonest behaviour like the examples of unfairness mentioned above. For doing this, the Supervisor must go to the specific Dashboard, where corresponding Buyers are listed, and click on a dedicated "Process" button. In case a Buyer experiences such removal from UNITE, depending on the investigation result of their behaviour, acceptance back to UNITE is at the sole discretion of their Supervisor.<br>We are not liable for the possible lack of communication between government entities, that may lead to inability of a Buyer to use their UNITE ID.
     </p><br>
     <h2>
       HOW OUR WEBSITE WORKS
     </h2>
     <p class='term'>
       Suppliers are asked to provide accurate sign-up data as well as to accept our agreements, then they must place their capabilities and products/services on the platform, along with company registration, location, employment rate, and experience data. Each line of products/services offered must include corresponding prices and currencies.<br>When entering your e-mail address for registration, please make sure it belongs to a legal entity domain. No personal, private mailboxes are allowed, concretely you must not use your Yahoo, Google Mail (Gmail), Hotmail, or any other address that does not belong to a company or organization domain.<br>We may limit the number or products and/or services offered by one supplier to a maximum limit ("Parameter") that is at our discretion (as of June 7th, 2020, it is limited to 20 product types a Supplier can offer). In addition to this, a Buyer can order an unlimited number of items belonging to at most 10 (ten) product categories.<br>Also, at this moment a Supplier can place only 1 (one) Capability Description on their profile from the UNITE Platform. These parameters are subject to changes according to the good will of our Team Lead.
     </p>
     <p class='term'>
       Buyers are also advised to provide clear and correct sign-up data, including the unique UNITE ID that they receive from their organization supervisors, and then they can search for suppliers by desired capabilities. A list of suppliers is retrieved each time valid capability data is entered for searching, then the buyer can choose the supplier they find appropriate for their needs.
     </p>
     <p class='term'>
       After choosing a supplier for their needs, the Buyer can place an order on the UNITE platform ("the Bid Request"). The request can pass through several statuses between initial order data and final successful delivery ("the Order/Bid Statuses"). We aim at providing also a payment processor module in the coming future, by using a secure Escrow system, so that buyers and suppliers can safely set up terms of delivery of goods while being ensured a safe environment for their funds.
       <br><br>When the payment processor is ready, our Terms will be updated as they should. At this time, UNITE uses the Stripe payment gateway in Test Mode, so we may only simulate charges for now.<br>In addition, we provide our users with the possibility to communicate through messages via the Platform. Please remember that as the Service is under development, also this functionality is in a primary form of existence, and not definitivated. We want our users to easily communicate to each other for the sake of speeding up the circuit of publicly needed goods / supplies. Crisis demands fast, efficient answers and solutions to be brought to people in need.
     </p>     
     <p class='term'>
       <h2>
         NOTE ABOUT ORDERS
       </h2>  
     An Order (or Bid Request) can also be cancelled either by Buyer (the entity that placed it) or by Supplier (the entity that received the bid). In each case, the part that makes the cancellation notifies the other part via e-mail about this event, and in this situation the Buyer and the Supplier can further communicate by using the UNITE messaging system, besides e-mails, telephone numbers, and other data that can be found on our site.
     </p>
     <h2>
       REGISTRATION RULES
     </h2>
     <p class='term'>
       Every user that signs up for UNITE, regardless of their type (Buyer, Supervisor, Supplier), is required to provide an accurate set of data about themselves, by filling required input fields, among which they must provide a valid e-mail address and a password. New users must confirm their accounts within 24 hours, by clicking on confirmation links based on tokens  that are sent to their e-mail addresses. If they fail to do so, then they cannot sign in.<br>In addition, in case a user forgets their password, UNITE provides them with the Forgot/Reset option, which (similarly to the Account Confirmation module) gives them 24 hours to reset their password via a token-based link. We may also set rules for the characters a password must contain or not, and as a general rule, we do not allow easy passwords like "password" or "1234".
     </p>
     <p class='term'>
       When a user logs into the application, they are provided with the "Remember me (?)" option to check, which is closely related to cookies and to the time users can spend on UNITE before the current session expires. If you don't tick the checkbox, then you must expect to automatically logout within 2 (two) hours. Otherwise, you will not be logged out of UNITE unless you explicitly do so.<br>Moreover, when signing up as a new user, the User object that you created is saved to the session and you can login. The same "Remember me" rule above applies in this login case.
     </p>
     <p class='term'>
       Certain input fields from the Sign-up and Profile forms require you to match special formats when filling them in, like the telephone number and the password. Currently the telephone numbers (that are required for either category of UNITE users) are formatted to match the European Union number pattern, that is, the prefix of the country and the rest of the number (without the initial zero).<br>Also, all the required fields are marked with an asterisk (*) and the aplication will not let you proceed further if you fail to complete them. We also make use of Autocomplete inputs and can restrict their possible values (e.g. when choosing the unique UNITE ID as a buyer), so that you may select only from the suitable values and don't have to worry about entering wrong data.
     </p>
  <h2>
    BEHAVIOUR OF USERS
  </h2>
  <p class='term'>
    UNITE is business-to-business, and at the same time, due to its nature, it is also a people-to-people, interconnecting environment, and thus it can be interpreted as a community of partners that represent various elevated levels of society. For this, we expect our users to behave in a polite, educated, professional manner, and treat each other with the expectable respect, politeness, and kindness.<br><br>Crisis demands us to be solidary and to collaborate in a fast and efficient mode, which leaves no room for rude interactions, name callings, useless arguments, and personal egos. We promote a civilized behaviour on our UNITE Platform also with the help of the powers of modern technology. In order to leverage the communication between the UNITE end users, we have a Messaging (Chat) system, under development as of June 8th, 2020, where Suppliers, Supervisors and Buyers can express their opinions, questions, detailed offers and requests, and any other subjects that are related to the public goods supply processes being handled by our Service.<br><br>For preventing profanity between users, our Messenger automatically censors the bad words via a special third-party plugin that detects inappropriate language, so that any such unwelcome words never get seen at the other end of the IM (Instant Messaging) socket communication. Messages that contain words they shouldn't are simply not delivered and cleared from the screen, while the faulty user receives an automated console message notifying them about the language problem.<br> UNITE counts on the high education levels and the good mood of our users!
  </p>
  <h2>
    FINAL CONSIDERATIONS
  </h2>
     <p class='term'>
       We are building a lightweight web application that bases its features on modern programming technologies and technical environment. UNITE is being carefully developed in an online working platform, that is called Glitch, which facilitates instant deployment and one single project location for the entire team, which significantly reduces the storage costs with respect to traditional webapp projects.<br>We also use a non-relational database for storing the actual user data, and the nature of the project source code allows a small number of full stack developers to work on UNITE, which is also a significant drop of human resource costs in comparison to mainstream teams that work with web applications. Still, we can assure you about the seriousness of our software developers, and we guarantee you that for any functional bug that may occur in our platform, there is at least one developer that would immediately be on it.
     </p>
     <p class='term'>
       The terms above are temporary and they strictly depend on the development phase we are in. Our application is under development and it is hosted by the www.glitch.com online deployment platform. We cannot guarantee you continuous access to the functionalities currently implemented on our UNITE application, since this depends on how well Glitch works and there may be issues with the API of the aforementioned hosting site. Thus, we cannot guarantee you a 24/7 100% functionality degree of our UNITE service.
     </p><br>
  </div>
</body>

</html>