<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>UNITE - Buyer - User Confirmation</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Another cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="/https.js"></script>
  <script src="/autocomp.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      
      $('#mainForm').submit(function(e) {
        if(!confirm('Are you sure you want to delete your Buyer account?\nThis will also remove your Bid Requests and the messages you sent in UNITE.')) {
          return false;
        }
      });
      
    });
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100% !important;">
    <a class="navbar-brand" href="/">UNITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
    <div class="container">
      <div>
        <input type="button" class="btn btn-primary" value="Back" onclick="history.go(-1)">
      </div>
       <div class="col-md-12">
        <form action="/buyer/delete/<%= id %>" id="mainForm" method="POST">
          <legend>
            Delete Buyer Account - Please fill in the required (*) fields
          </legend>
          <div class="form-group">
            <label for="email">E-mail*:</label>
            <input required class="form-control" type="email" name="emailAddress" autofocus="autofocus"></input>
          </div>
         <div class="form-group">
            <label for="email">Organization name*:</label>
            <input required class="form-control" type="text" name="organizationName"></input>
            <input type="hidden" name="id" value="<%= id %>">
          </div>
          <div class="form-group">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" id="delete" title="Delete Account" class="btn btn-primary btn-block btn-lg">Delete Account</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>