body {
  font-family: "Helvetica Neue", Helvetica, Roboto, -apple-system, 
  BlinkMacSystemFont, "Segoe-UI",  "Apple Color Emoji", 
  "Segoe UI Emoji", "Segoe UI Symbol" !important;
  
}

.remFile {
  font-size: 12pt;
  cursor: pointer;
  text-decoration: underline;
  color: #88cc44
}

.font-16pt {
  font-size: 16pt;
}

.profile-button {
  width: 180px
}

div.additionalSuppliers {
  color: red;
  text-decoration: italic;
  font-size: 11px;
}

p.additional-suppliers {
  font-size: 13px;
  font-weight: bold;
  color: green;
  text-decoration: underline;
  margin-bottom: 5px
}

.signup-notice {  
  margin-top: 40px;  
}

.signup-notice p {  
    color: teal;  
}

.update-profile {
  text-align: center;
  font-weight: bold;
  margin-left: 40%;
  width: 80%
}

div.suggestion {
  display: block;
  background-color: honeydew;
}

.suggestions-label {
  text-decoration: italic underline;
  font-family: verdana;
  color: yellow;
  background: black;
  font-weight: bold;
  margin-bottom: 15px;
}

span.suggestion-name {
  font-weight: 900;
  text-transform: uppercase;
}

span.details, span.social-media {
  font-weight: bold;
  font-size: 15px;
}

.bottom-buttons {
  margin-left: 40.5%;
  width: 64%
}

.bid-button {
  width: 210px;
}

.bid-button-wide {
  width: 288px;
}

p.excel {
  font-size: 14px;
  width: 290px;
  word-wrap: break-word;
  font-weight: bold
}

.upload-section,.totals,.checkbox-alignment {
  margin-left: 35%;
  width: 128%
}

.btn-block.update-button {
  width: 28%
}

.conditions,.totals .form-control,.totals .autocomp,.totals #register,.upload-section .form-control,.form-control.upload-button,select.currency,input.upload {
  width: 28%
}

.prodButton {
  width: 5%
}

span.hid,span.supply {
  background-color: lightgray
}

@media only screen and (max-width: 900px) {
  a.admin, a.userRight {
    float: right;
  }
}

span.multiSupp,span.suppCurrency,span.productName {
  color: navy;
  font-weight: bold
}

.font-14pt-custom {
  font-size: 14pt;
  font-weight: bold;
  font-style:italic;
}

span.requestData {
  color: green;
  font-size: 10pt;
  font-family: verdana;
}

span.uploadImage {
  font-size: 10pt;
  color: green;
  cursor: pointer;
  margin-top: 2px;
}

span.imageWrapper {  
  cursor: pointer;  
}

span.imageWrapper,span.priceWrapper,span.basicPriceWrapper,span.amountWrapper {
  float: right;  
  margin-right: 36px;
}

span.imageWrapper {
  width: 144px
}

span.product {
  font-weight: bold;
  width: 90px
}

span.cnt {
  float: left;
  width: 25px
}

span.priceWrapper,span.basicPriceWrapper,span.amountWrapper {
  width: 90px
}

span.productImage {
  margin-top: -2px;
}

span.buttonsWrapper {
  float: right;
  cursor: pointer;
}

span.inc {
    background-image: url("https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2FINC.png?v=1593941148908");
    float: right;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    width: 20px;
    height: 10px;
    margin-top: 5px;
    padding: 0;
}

span.dec {    
    background-image: url("https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2FDEC.png?v=1593941156757");
    float: right;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    width: 20px;
    height: 10px;
    margin-top: 5px;
    padding: 0;
}

span.rem {
  background-image: url("https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2FREM.png?v=1593942051420");
  float: right;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  padding: 0;
}

::placeholder {
 color: #acafea; 
}

table.members {
  border: 2px solid black;
  width: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto
}

table.members th,td {
  border: 1px solid black;
  padding: 1px;
  width: 100%
}

table.products {
  border: 2.5px solid navy;
  width: 100%;
  background-color: aqua;
  margin-left: auto;
  margin-right: auto
}

table.products th,td {
  border: 1.25px solid navy;
  padding: 1px;
  font-weight: bold;
  width: 100%
}

table.files {
  border: 2.25px solid fuchsia;
  width: 100%;
  background-color: darkseagreen;
  margin-left: auto;
  margin-right: auto
}

table.files th,td {
  border: 1.5px solid purple;
  padding: 1px;
  font-weight: bold;
  width: 100%
}

input.errorField {
  background-color : red;
}

span.fileName {
  color: navy;
  font-weight: bold;
  text-decoration: underline;
}

p.term {
  color: navy;
  font-size: 14pt;
}

p.warn {
  color: red;
  font-size: 11pt;
}

p.term-light {
  color: white;
  font-size: 12pt;
}

.about a {
  color: lightgreen;
  font-weight: bold;
}

p.term-black {
  color: black;
  font-size: 18pt;
}

.color-primary {
  color: blue;
}

.color-secondary {
  color: goldenrod;
}

.littleNote {
  color: red;
  font-size: 10pt;
  font-style: italic;
}

.ui-autocomplete { 
    cursor: pointer; 
    height: 120px; 
    overflow-y:scroll;
}

.customer-form {
  width: 100%;
  margin: 20px auto 0 auto;
  padding: 100px;
  background-color: blue;
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 600px) {
  .customer-form {
    position: fixed;
  }
}

span.adminDelete {
  color: darkmagenta;
  text-decoration: underline
}

.profile-form {
  padding: 50px;
  width: 1080px;
}

.smooth-shadow {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.28);
}

.button-left {
  margin-left: 10%;
  float: left;
}

.button-right {
  margin-right: 10%;
  float: right;
}

.custom-button {
  height: 50px;
  width: 240px;
  background-color: #aaddee;
  color: #4400aa;
  border-radius: 5px;
  font-size: 16pt;
}

.sign-in-form {
  margin: auto;
  max-width: 600px;
  padding: 40px;
}