body {
  font-family: "Helvetica Neue", Helvetica, Roboto, -apple-system, 
  BlinkMacSystemFont, "Segoe-UI",  "Apple Color Emoji", 
  "Segoe UI Emoji", "Segoe UI Symbol" !important;
  
}

.remFile {
  font-size: 12pt;
  cursor: pointer;
  color: #88cc44
}

.font-16pt {
  font-size: 16pt;
}

.font-14pt-custom {
  font-size: 14pt;
  font-weight: bold;
  font-style:italic;
}

::placeholder {
 color: #acafea; 
}

input.errorField {
  background-color : red;
}

p.term {
  color: navy;
  font-size: 14pt;
}

p.term-light {
  color: white;
  font-size: 16pt;
}

p.term-black {
  color: black;
  font-size: 18pt;
}

.color-primary {
  color: blue;
}

.color-secondary {
  color: #666644;
}

.rem {
  color: green;
  cursor: pointer;
}

.littleNote {
  color: red;
  font-size: 10pt;
  font-style: italic;
}

.ui-autocomplete { 
    cursor: pointer; 
    height: 120px; 
    overflow-y:s croll;
}

.customer-form {
  width: 100%;
  margin: 20px auto 0 auto;
  padding: 100px;
  background-color: green;
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 600px) {
  .customer-form {
    position: fixed;
  }
}

.profile-form {
  padding: 50px;
}

.smooth-shadow {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.28);
}

.button-left {
  margin-left: 10%;
  float: left;
}

.button-right {
  margin-right: 10%;
  float: right;
}

.custom-button {
  height: 50px;
  width: 240px;
  background-color: #aaddee;
  color: #4400aa;
  border-radius: 5px;
  font-size: 16pt;
}

.sign-in-form {
  margin: auto;
  max-width: 600px;
  padding: 40px;
}