<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>UNITE - Supervisor - Password forgotten</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/sweetalert.min.js"></script>  
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/mustache.min.js"></script>
  <script src="/moment.min.js"></script>
  <script src="/qs.min.js"></script>
  <script src="/index.min.js"></script>
  <script src="/https.js"></script>
  <script src="/autocomp.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100% !important;">
    <a class="navbar-brand" href="/">UNITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
    <div class="container">
      <div class="col-md-12">
        <form method="POST">
          <legend>
            Forgot Password/Reset
          </legend>
          <div class="form-group">
            <label for="email">E-mail:</label>
            <input required class="form-control" type="email" name="emailAddress" value="<%= email %>" autofocus="autofocus"></input>
          </div>
          <div class="form-group">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" id="forgotReset" value="Go to Reset" class="btn btn-primary btn-block btn-lg">Go to Reset</button>
          </div>          
        </form>
      </div>
    </div>
  </body>
</html>