<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sign in as Government Supervisor - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">

  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>  
    <div class="container">
      <div class="customer-form smooth-shadow">
        <form method="POST">
          <h2 class="text-center">Sign in as Government Supervisor</h2>
            <div class="form-group">
                <label for="organizationName">Organization name</label>
                <input type="text" class="form-control" id="organizationName" aria-describedby="organizationName"
                       placeholder="organizationName" name="organizationName" required>
              </div>
            <div class="form-group">
                <label for="contactName">Contact name</label>
                <input type="text" class="form-control" id="contactName" aria-describedby="contactName"
                       placeholder="contactName" name="contactName" required>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" name="password" required>
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" aria-describedby="address" placeholder="address" name="address" required>
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" aria-describedby="country" placeholder="country" name="country" required>
            </div>

        <form class="md-form">
          <div class="form-group">
            <div class="btn btn-primary btn-sm float-left">
              <span>Certificates</span>
              <input type="url">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload your file">
            </div>
          </div>
        </form>           

        <form class="md-form">
          <div class="form-group">
            <div class="btn btn-primary btn-sm float-left">
              <span>Anti-bribery policy</span>
             <input type="url">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload your file">
            </div>
          </div>
        </form> 

        <form class="md-form">
          <div class="form-group">
            <div class="btn btn-primary btn-sm float-left">
              <span>Environment policy</span>
              <input type="url">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload your file">
            </div>
          </div>
        </form> 

        <form class="md-form">
          <div class="form-group">
            <div class="btn btn-primary btn-sm float-left">
              <span>Quality management policy</span>
              <input type="url">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload your file">
            </div>
          </div>
        </form> 

        <form class="md-form">
          <div class="form-group">
            <div class="btn btn-primary btn-sm float-left">
              <span>Occupational Safety and Health</span>
              <input type="url">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload your file">
            </div>
          </div>
        </form> 

        <form class="md-form">
          <div class="form-group">
            <div class="btn btn-primary btn-sm float-left">
              <span>Other relevant files</span>
              <input type="url">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload your file">
            </div>
          </div>
        </form>
          
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck">
            <label class="form-check-label" for="exampleCheck">Check me out</label>
          </div><br>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  
</body>

</html>