<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sign up as Supervisor - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="/https.js"></script>    
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  
  <script type="text/javascript">        
      $(document).ready(function () {
      var token = $("input[name='_csrf']").val();
   
      $('input.fileupload')/*.unbind('change')*/.bind('change', function() {
          $(this).val? $(this).next('input').removeAttr('disabled') : $(this).next('input').attr('disabled', 'disabled');
        });
        
      $('#country')
      .autocomplete({
        source: function(req, res) {          
          $.ajax({
            url: "/countryAutocomplete/",
            headers: { "X-CSRF-Token": token },
            datatype: 'jsonp',//"application/json",
            type: "GET",
            data: req,
            async: true,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {          
              //res(data);              
              res($.map(data, function (el) {
                  return {
                     name: el.name
                    , id: el.id
                  };
                  }));         
              
            },
            error: function(err) {

            }
          });
        },
        minLength: 3,
        focus: function (event, ui) {
            this.value = ui.item.name;
            event.preventDefault();
         },
        select: function(event, ui) {
          if(ui.item) {
            $(this).val(ui.item.name);
            event.preventDefault();
          }
        }
      });    
        
      $('input[type="submit"]').click(function (e) {
        var input = $(this).prev('input');        
        var formData = new FormData();
        var isMultiple = $(this).hasClass('multiple')? true : false;
        formData.append("_csrf", token);
        
        formData.append("upload_file", true);
        if(isMultiple == false) {
          formData.append('file', input[0].files[0]);
        } else {
          $.each(input[0].files, function(i, file) {
            formData.append('files['+i+']', file);
          });
        }
        
        var theUrl = isMultiple == true? "/uploadmultiple" : "/uploadfile";
        
        $.ajax({
          type: "POST",
          url: theUrl,
          headers: { "X-CSRF-Token": token },
          async: true,
          data: formData,
          cache: false,
          contentType: false,
          processData: false
        })
          .done(function (data) {
          });

        e.preventDefault();
      });
  });
  </script>  
</head>
    
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100% !important;">
    <a class="navbar-brand" href="/">UNITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="container">
    <div class="mx-auto text-center mt-4">
      <a href="/">
        <img src="https://cdn.glitch.com/e38447e4-c245-416f-8ea1-35b246c6af5d%2Funite.png?v=1587840844949" height="150">
      </a>
    </div>

    <% if (errorMessage.length > 0) { %>
    <script>
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: '<%= errorMessage %>',
      })
    </script>
    <% } %>

    <div class="sign-in-form smooth-shadow">
      <form method="POST">
        <h2>Sign up as Supervisor</h2>
        <div class="form-group">
          <label class="text-muted form-text">
            Please fill in all the required (*) fields.
          </label>
        </div>
        <div class="form-group">
          <label for="organizationName">Organization name*</label>
          <input type="text" class="form-control" name="organizationName" required>
        </div>
        <div class="form-group">
            <label for="organizationUniteID">Organization UNITE ID*</label>
            <input type="text" required class="form-control" name="organizationUniteID">
        </div>
        <div class="form-group">
          <label for="contactName">Contact name*</label>
          <input type="text" class="form-control" name="contactName" required>
        </div>
        <div class="form-group">
          <label for="emailAddress">Email address*</label>
          <input type="email" class="form-control" name="emailAddress" required>
        </div>
        <div class="form-group">
          <label for="password">Password*</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <div class="form-group">
          <label for="address">Address*</label>
          <input type="text" class="form-control" name="address" required>
        </div>
        <div class="form-group">
          <label for="country">Country*</label>
          <input type="text" class="form-control" id="country" name="country" required>
        </div>

          <div class="form-group">
              <label>Certificates</label>              
              <input class="form-control fileupload" type="file" id="certificates" name="certificates" multiple>
              <input class="form-control multiple" type="submit" disabled value="Upload Files"/>
          </div>

          <div class="form-group">
               <label>Antibribery policy</label>
               <input class="form-control fileupload" type="file" id="antibriberyPolicy" name="antibriberyPolicy" />
               <input class="form-control single" type="submit" disabled value="Upload File"/>
          </div>

          <div class="form-group">
               <label>Environment policy</label>
               <input class="form-control fileupload" type="file" id="environmentPolicy" name="environmentPolicy" />
               <input class="form-control single" type="submit" disabled value="Upload File"/>
          </div>

          <div class="form-group">
               <label>Quality management policy</label>
               <input class="form-control fileupload" type="file" id="qualityManagementPolicy" name="qualityManagamentPolicy" />
               <input class="form-control single" type="submit" disabled value="Upload File"/>
          </div>

          <div class="form-group">
               <label>Occupational Safety and Health</label>
               <input class="form-control fileupload" type="file" id="occupationalSafetyAndHealthPolicy" name="occupationalSafetyAndHealth" />
               <input class="form-control single" type="submit" disabled value="Upload File"/>
          </div>

          <div class="form-group">
              <label>Other relevant files</label>              
              <input class="form-control fileupload" type="file" id="otherRelevantFiles" name="otherFiles" multiple>
              <input class="form-control multiple" type="submit" disabled value="Upload Files"/>
          </div>
        
        <div class="form-group">
          <label>Certificates</label>
          <input type="url" class="form-control" name="certificatesUrls">
        </div>
        <div class="form-group">
          <label>Anti-bribery policy</label>
          <input type="url" class="form-control" name="antiBriberyPolicyUrl">
        </div>
        <div class="form-group">
          <label>Environment policy</label>
          <input type="url" class="form-control" name="environmentPolicyUrl">
        </div>
        <div class="form-group">
          <label>Quality management policy</label>
          <input type="url" class="form-control" name="qualityManagementPolicyUrl">
        </div>
        <div class="form-group">
          <label>Occupational Safety and Health</label>
          <input type="url" class="form-control" name="occupationalSafetyHealthUrl">
        </div>
        <div class="form-group">
          <label>Other relevant files</label>
          <input type="url" class="form-control" name="otherRelevantFilesUrls">
        </div>

        <!--Mandatory check of agreements -->
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" name="UNITETermsAndConditions" type="checkbox" checked required>
            <a href="../termsConditions">
              <label class="form-check-label" for="invalidCheck2">
                UNITE Terms And Conditions              
              </label>
            </a>
          </div>
        </div>
        
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" name="antibriberyAgreement" type="checkbox" checked required>          
            <a href="../antibriberyAgreement">
              <label class="form-check-label" for="invalidCheck2">
                  Antibribery Agreement
              </label>
            </a>
          </div>
        </div>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
        <div class="form-group">
          <label class="text-muted form-text">
            By clicking the "Sign Up" button, you accept <a href="../termsConditions">the UNITE Terms And Conditions</a> and <a href="../antibriberyAgreement">the Antibribery Agreement</a>.
          </label>
        </div>
      </form>
    </div>
  </div>   
  
</body>

</html>