<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Supplier Balance - UNITE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>  
  <script src="/index.min.js"></script>
  <script src="/sweetalert2@9.min.js"></script>
  <script src="/money.js"></script>
  <script src="/https.js"></script>  
  <script src="/functions.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      let defaultCurr = $('#defaultCurrency').val();
      let defaultBalance = $('#defaultBalance').val();      
      $('#balance').val(parseFloat(defaultBalance).toFixed(2) + ' ' + defaultCurr);      
      //errorSuccess(Swal, '< %= errorMessage %>', '< %= successMessage %>');
      
      initBaseRates(fx, '#currency', '/currencyAutocomplete', $('#token').val())
        .then((fx) => {
        $('#currency').off('change').on('change', function() {
          let val = fx.convert(defaultBalance, {from: defaultCurr, to: $(this).val()});
          $('#balance').val(val.toFixed(2) + ' ' + $(this).val());
        });
      }); 
    });
  </script>
</head>

<body>
  <nav pos="2" user="supplier" class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100% !important;">
    <a class="navbar-brand" href="/">UNITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
    <div class="container">
      <div class="smooth-shadow profile-form">
      <form method="POST">
        <div class="row m-2">
          <div>
            <p>
              You can make currency conversions here, in order to see what the equivalent of your current balance would be, if translated into other national currencies.
            </p>
          </div>
          <div class="form-group mr-2">
            <label>Current Buyer Balance</label>
            <input type="hidden" id="defaultBalance" value="<%= balance %>">
            <input type="hidden" id="defaultCurrency" value="<%= currency %>">
            <input type="text" class="form-control" id="balance" name="balance" readonly>
            <br>
            <label>Select other currency and convert your balance:</label>
            <br>
            <select class="form-control" id="currency" name="currency" value="<%= currency %>">
          </div>
        </div>
        <input type="hidden" name="_csrf" id="token" value="<%= csrfToken %>">
        </form>
      </div>
    </div>  
  </body>
  
</html>