<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Supplier Balance</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Another cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="/https.js"></script>
  <!-- Jquery, Popper, and Bootstrap inclusions-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>  
</head>

  <body>
    <div class="container">
      <div class="smooth-shadow profile-form">
      <form method="POST">
        <div class="row m-2">
          <div class="form-group mr-2">
            <label>Current Supplier Balance</label>
            <input type="text" class="form-control" id="balance" name="balance" value="<%= balance %>" readonly>
          </div>
        </div>
        </form>
      </div>
    </div>  
  </body>
  
</html>