<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>UNITE - Supplier - User Termination</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/messages.css">
  <link rel="stylesheet" href="/jquery-ui.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/sweetalert.min.js"></script>
  <script src="/https.js"></script>
  <script src="/autocomp.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#mainForm').submit(function(e) {
        if(!confirm('You are about to remove all your data from UNITE. This cannot be undone. Please proceed only if you are really sure.')) {
          return false;
        }
      });
  });
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100% !important;">
    <a class="navbar-brand" href="/">UNITE - Delete Supplier Account</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
    <div class="container">
       <div class="col-md-12">
        <form action="/supplier/delete/<%= id %>" method="POST">
          <legend>
            Delete Supplier Account - Please fill in the required (*) fields
          </legend>
          <div class="form-group">
            <label for="email">E-mail*:</label>
            <input required class="form-control" type="email" name="emailAddress" autofocus="autofocus"></input>
          </div>
         <div class="form-group">
            <label for="email">Company name*:</label>
            <input required class="form-control" type="text" id="companyName" name="companyName"></input>
            <input type="hidden" name="id" value="<%= id %>">
          </div>
          <div class="form-group">
            <label for="reason">Reason for deleting account*:</label>
            <textarea required class="form-control" id="reason" name="reason"></textarea>
          </div>
          <input type="hidden" name="type" value="User Cancellation">          
          <input type="hidden" name="userType" value="Supplier">
          <div class="form-group">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" id="delete" title="Delete Account" class="btn btn-primary btn-block btn-lg">Delete Account</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>